@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #febd69;
  --color-primary-dark: #f08804;
  --color-secondary: #232f3e;
  --color-accent: #f0c14b;
  --color-header: #131921;
  --color-background: #eaeded;
  --color-text: #111111;
  --color-background-dark: #0f1111;
  --color-text-dark: #f3f3f3;
  --color-link: #007185;
}

@layer base {
  body {
    @apply bg-background text-text transition-colors duration-300;
  }
  .dark body {
    @apply bg-background-dark text-text-dark;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
